<div class="container">
  <div class="row" *ngIf="!nameSet">
    <div class="col-md-4 col-md-push-4">
      <h3 class="happy">Enter your name and have a HAPPY EHTERAZ :)</h3>
      <form (ngSubmit)="onSubmit(myForm)" #myForm="ngForm">
        <input
          type="text"
          placeholder="First name"
          class="form-control"
          name="firstName"
          ngModel
          required
        />
        <input
          type="text"
          placeholder="Last name"
          class="form-control"
          name="lastName"
          ngModel
          required
        />
        <button
          class="btn btn-success"
          type="submit"
          [disabled]="!myForm.valid"
        >
          HAPPY EHTERAZ
        </button>
      </form>
    </div>
  </div>
  <div class="row text-center no-padding" *ngIf="nameSet">
    <div class="col-md-12 no-padding">
      <app-header></app-header>
      <app-name [fName]="firstName" [lName]="lastName"></app-name>
      <app-qr-code></app-qr-code>
      <app-date-time></app-date-time>
      <app-footer></app-footer>
    </div>
  </div>
</div>
